__pycache__/
*.py[cod]
.env
venv/
myenv/
*.pt
*.pth
*.bin
models/
outputs/
*.wav
*.mp3
frontend/.next/
frontend/node_modules/
.DS_Store
ml/create_test.py
ml/sandbox.py
ml/styled_result.wav
ml/styled_result0.wav
/venv310
install-pyenv-win.ps1